pipeline/webhookpipeline.json
{
	"name": "webhookpipeline",
	"properties": {
		"activities": [
			{
				"name": "Webhook",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://datalakedemodp203.blob.core.windows.net/csv/Customer/Customer02.csv",
					"method": "GET"
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "webhookvariable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"outputs": [
					{
						"referenceName": "webcsv",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "webhookvariable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Webhook",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "webhookvar",
					"value": "@{activity('Webhook').output.value[0]}"
				}
			}
		],
		"variables": {
			"webhookvar": {
				"type": "String"
			},
			"var": {
				"type": "String"
			}
		},
		"annotations": []
	}
}